In [2]:
import pandas as pd

In [3]:
df = pd.read_html('https://www.promiedos.com.ar/')
df[0]

,0,1,2,3,4,5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,COPA DE LA LIGA,COPA DE LA LIGA,COPA DE LA LIGA,COPA DE LA LIGA,COPA DE LA LIGA,COPA DE LA LIGA
2,Cuartos de Final,Cuartos de Final,Cuartos de Final,Cuartos de Final,Cuartos de Final,Cuartos de Final
3,E. T.,Racing Club,2,0,Aldosivi,add_box
4,3' C. Alcaraz; 22' C. Alcaraz;,3' C. Alcaraz; 22' C. Alcaraz;,3' C. Alcaraz; 22' C. Alcaraz;,NaN,NaN,NaN
5,21:30,Boca Juniors,NaN,NaN,Def y Justicia,NaN

In [4]:
# Vemos la tabla y nos fijamos dónde están los datos
df = pd.read_html('https://www.promiedos.com.ar/', match='COPA DE LA LIGA')
df = df[0]
df

,0,1,2,3,4,5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,COPA DE LA LIGA,COPA DE LA LIGA,COPA DE LA LIGA,COPA DE LA LIGA,COPA DE LA LIGA,COPA DE LA LIGA
2,Cuartos de Final,Cuartos de Final,Cuartos de Final,Cuartos de Final,Cuartos de Final,Cuartos de Final
3,E. T.,Racing Club,2,0,Aldosivi,add_box
4,3' C. Alcaraz; 22' C. Alcaraz;,3' C. Alcaraz; 22' C. Alcaraz;,3' C. Alcaraz; 22' C. Alcaraz;,NaN,NaN,NaN
5,21:30,Boca Juniors,NaN,NaN,Def y Justicia,NaN

In [5]:
# Creamos un Dataframe vacío para ir poblándolo con la tabla scrapeada, pero antes parseada
df_partidos = pd.DataFrame(columns=['equipo_local',
                                    'equipo_visitante',
                                    'goles_local',
                                    'goles_visitante',
                                    'torneo',
                                    'goleadores_local',
                                    'goleadores_visitante',
                                    'estado_partido',
                                    'detalle'])

df_partidos

Empty DataFrame
Columns: [equipo_local, equipo_visitante, goles_local, goles_visitante, torneo, goleadores_local, goleadores_visitante, estado_partido, detalle]
Index: []

In [6]:
# Vemos otra liga diferente
df = pd.read_html('https://www.promiedos.com.ar/', match='LA LIGA')
df = df[-1]
df

,0,1,2,3,4,5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,LA LIGA,LA LIGA,LA LIGA,LA LIGA,LA LIGA,LA LIGA
2,Final,Valencia,0,3,Betis,add_box
3,NaN,NaN,NaN,57' W. Jose; 87' S. Canales; 90' B. Iglesias;,57' W. Jose; 87' S. Canales; 90' B. Iglesias;,57' W. Jose; 87' S. Canales; 90' B. Iglesias;
4,Final,Granada,1,0,Athletic Bilbao,add_box
5,35' A. Collado;,35' A. Collado;,35' A. Collado;,NaN,NaN,NaN
6,Final,Barcelona,3,1,Celta de Vigo,add_boxvideo_library
7,30' M. Depay; 41' P. Aubameyang; 48' P. Aubame...,30' M. Depay; 41' P. Aubameyang; 48' P. Aubame...,30' M. Depay; 41' P. Aubameyang; 48' P. Aubame...,50' I. Aspas;,50' I. Aspas;,50' I. Aspas;

In [12]:
# Referenciamos los datos a variables para ir ordenándolos y plasmarlos en filas
# Algunos tienen el detalle debajo de la fila que describe la liga, por ej: copa de la liga -> cuartos de final visto más arriba

equipo_local = df.iloc[2, 1]
goles_local = df.iloc[2, 2]
goles_visitante = df.iloc[2, 3]
equipo_visitante = df.iloc[2, 4]
torneo = df.iloc[1, 0]
goleadores_local = df.iloc[3, 1]
goleadores_visitante = df.iloc[3, 4]

print('Equipo local: ' + str(equipo_local))
print('Goles local: ' + str(goles_local))
print('Goles visitante: ' + str(goles_visitante))
print('Equipo visitante: ' + str(equipo_visitante))
print('Torneo: ' + str(torneo))
print('Goleadores local: ' + str(goleadores_local))
print('Goleadores visitante: ' + str(goleadores_visitante))

Equipo local: Valencia
Goles local: 0
Goles visitante: 3
Equipo visitante: Betis
Torneo: LA LIGA
Goleadores local: nan
Goleadores visitante: 57' W. Jose; 87' S. Canales; 90' B. Iglesias;

In [42]:
# En casos de partidos que salen 0 a 0 no tienen goleadores, por lo que descubrimos que se deben tratar sus filas de forma diferente
df = pd.read_html('https://www.promiedos.com.ar/', match='FEMENINO')
df = df[0]
df

          0            1         2         3         4         5
0       NaN          NaN       NaN       NaN       NaN       NaN
1  FEMENINO     FEMENINO  FEMENINO  FEMENINO  FEMENINO  FEMENINO
2     Final  El Porvenir         0         0    S.A.T.       NaN